<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Password Reset</title>
<link rel="stylesheet" th:href="@{/styles/Login.css}">
</head>
<body>

	<header>
	    <div class="logo">
	        HiVoyage
	    </div>
	    
	    <nav class="header-wrapper">
	        <ul class="header-nav">
	            <li><a href="/welcome">Home</a></li>
	            <li><a href="/about">About</a></li>
	            <li><a href="/join">Join Us!</a></li>
	        </ul>
	    </nav>
	</header>



	<div class="container">
		<h1> Forgot password? </h1>
        <form action="/forgotpassword" method="post">
            <input type="email" name="email" placeholder="Enter your email" required />
            <button type="submit">Reset Password</button>
        </form>
		<a href="/user/login"> Back to Login</a>
	</div>

</body>
</html>