<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HiVoyage</title>
<link rel="stylesheet" th:href="@{/styles/Homepage.css}"></link>
</head>
<body>

	<header>
	    <div class="logo">
	        HiVoyage
	    </div>
	    
	    <nav class="header-wrapper">
	        <ul class="header-nav">
	            <li><a href="/welcome">Home</a></li>
	            <li><a href="/user/travelguides">Travel Guides</a></li>
	            <li><a href="/user/newtrip">New Trip</a></li>
	        </ul>
	    </nav>
	</header>

</body>
</html>