<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HiVoyage | New Trip</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="/styles/Newtrip.css">
</head>
<body>

	<header>
	    <div class="logo">
	        HiVoyage
	    </div>
	    
	    <nav class="header-wrapper">
	        <ul class="header-nav">
                <li><a href="/user/homepage">Dashboard</a></li>
                <li><a href="/user/travelguides">Travel Guides</a></li>
                <li><a href="/user/profile"><i class="fa-solid fa-user"></i></a></li>
	        </ul>
	    </nav>
	</header>

    <div class="container">
        <h1>Plan a New Trip</h1>
        <p>Start planning your trip by filling in the details below!</p>
        
        <!-- Error message display -->
        <div th:if="${error}" class="error-message">
            <i class="fas fa-exclamation-circle"></i>
            <span th:text="${error}"></span>
        </div>
        
        <form th:action="@{/user/saveTrip}" th:object="${trip}" method="post">
            <div class="form-group">
                <label for="destination">Where to?</label>
                <input id="destination" type="text" placeholder="e.g Japan, South Korea" th:field="*{destination}" />
            </div>
            <div class="form-group">
                <label for="dates">Dates</label>
                <div class="input-group">
                    <div class="input-icon">
                        <input id="start-date" type="date" placeholder="Start Date" th:field="*{startDate}" />
                    </div>
                    <div class="input-icon">
                        <input id="end-date" type="date" placeholder="End Date" th:field="*{endDate}" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="button" type="submit">Create</button>
            </div>
        </form>
    </div>
    

</body>
</html>