<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign up</title>
<link rel="stylesheet" th:href="@{/styles/Signup.css}">
<script th:src="@{/scripts/Signup.js}"></script>
</head>
<body>

	<header>
	    <div class="logo">
	        HiVoyage
	    </div>
	    
	    <nav class="header-wrapper">
	        <ul class="header-nav">
	            <li><a href="/welcome">Home</a></li>
	            <!-- <li><a href="/about">About</a></li> -->
	        </ul>
	    </nav>
	</header>


	<div class="container">
		<h1> Create your account</h1>
		<div th:if="${error}" class="error-message">
			<p th:text="${error}" style="color: red;"></p>
		</div>
		<form th:action="@{/user/validate}" th:object="${user}" method="post" onsubmit="return validatePassword()">
				<label>First Name: </label><br>
				<input type="text" name="firstName" th:field="*{firstName}"><br>
				<label>Last Name: </label><br>
				<input type="text" name="lastName" th:field="*{lastName}"><br>
				<label>Email: </label><br>
				<input type="text" name="email" th:field="*{email}"><br>
				<label>Username: </label><br>
				<input type="text" name="username" th:field="*{username}"><br>
				<label>Password: </label><br>
				<input type="password" name="password" th:field="*{password}"><br>
                <label>Confirm Password: </label><br>
                <input type="password" name="confirmPassword" th:field="*{confirmPassword}"><br>
				<button type="Submit"> Sign up </button>

		</form>
			<a href="/login"> Already have an account?</a>
	</div>
	

</body>
</html>
